@model PDFLayoutModuleModel
@{
    ViewData["Title"] = "Modulo Lavorazione";
    Layout = "_Layout";
}
<div class="pdfPage">
    @(await Html.PartialAsync("Header"))
    <h2>Scheda lavorazione</h2>
    <div class="pdfContentPage" style="font-size:17px;">
        
    </div>
    <br />
    <br />
    <br />
    <div style="text-align:right; display:inline-block; width:100%;">
        <label style="font-size:17px; font-weight:bold;">Firma Responsabile:</label>
        <br />
        <br />
        <label>__________________________</label>
    </div>
</div>