body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    letter-spacing: 0px;
}

.pdfPage {
    margin: 45px;
    text-align: left;
}

    .pdfPage .pdfContentPage {
        margin: 0px 55px;
    }

header {
    text-align: center;
    border-bottom: 1px solid #454545;
}

    header #logo {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 280px;
    }

.pdfPage h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 22px;
    color: #191919;
}

.pdfPage .moduleTitle {
    vertical-align: top;
    display: inline-block;
    width: 125px;
    font-weight: bold;
    margin: 4px 0px;
    line-height: 24px;
}

.pdfPage .moduleValue {
    margin: 4px 0px;
    display: inline-block;
    width: 400px;
    line-height: 24px;
}

.pdfPage .layoutModuleTitle {
    vertical-align: top;
    display: inline-block;
    width: 210px;
    font-weight: bold;
    margin: 5px 0px;
    line-height: 26px;
}

.pdfPage .layoutModuleValue {
    margin: 5px 0px;
    display: inline-block;
    width: 350px;
    line-height: 26px;
}

.pdf_table {
    border-radius: 4px;
    border-spacing: 0;
    font-size: 7px;
}

    .pdf_table tr:last-of-type td {
        border-bottom: none;
    }

    .pdf_table tr td:last-of-type {
        border-right: none;
    }

    .pdf_table td {
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        color: rgb(50, 50, 50);
        padding: 1px 3px;
    }

    .pdf_table .rotate {
        /* Something you can count on */
        height: 90px;
        white-space: nowrap;
        border-bottom: 1px solid #ccc;
    }

        .pdf_table .rotate > div {
            transform: translate(15px, 33px) rotate(315deg);
            -webkit-transform: translate(15px, 33px) rotate(315deg); /* Safari/Chrome */
            -moz-transform: translate(15px, 33px) rotate(315deg); /* Firefox */
            -o-transform: translate(15px, 33px) rotate(315deg); /* Opera */
            -ms-transform: translate(15px, 33px) rotate(315deg); /* IE 9 */
            width: 23px;
            float: right;
        }

            .pdf_table .rotate > div > span {
                border-bottom: 1px solid #ccc;
                padding: 3px 8px;
            }

        .pdf_table .rotate .divTimestamp {
            transform: translate(24px, 30px) rotate(315deg);
            -webkit-transform: translate(24px,30px) rotate(315deg); /* Safari/Chrome */
            -moz-transform: translate(24px, 30px) rotate(315deg); /* Firefox */
            -o-transform: translate(24px, 30px) rotate(315deg); /* Opera */
            -ms-transform: translate(24px, 30px) rotate(315deg); /* IE 9 */
            width: 35px;
        }

.page-breaker {
    display: block;
    clear: both;
    page-break-after: always;
}
