html {
    height: 100%;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size:14px;
}

body{
    min-height:100%;
    position:relative;
}

a, a:link, a:visited {
    color: #4a85d8;
    font-weight: bold;
    text-decoration: none !important;
    cursor: pointer;
    outline: 0 !important;
    font-size:12px;
}

    a:hover {
        color: #3970be;
        text-decoration: underline;
        cursor: pointer;
    }

        a.btn, a:hover.btn {
            height: 20px;
            font-size: 15px;
            font-family: MS Shell Dlg;
            line-height: 23px;
            text-decoration: none;
            font-weight: normal;
        }

.ui-dialog {
    font-size: 14px !important;
}

.ui-widget-overlay {
    background: none !important;
    background-color: rgba(50, 50, 50, 0.35) !important;
    opacity: 1 !important;
}

.ui-widget.ui-widget-content a {
    color: #4a85d8;
}
    .ui-widget.ui-widget-content a:hover {
        color: #3970be;
    }

a.add {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("../images/addIcon.png");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 40px 20px;
}

a.remove {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("../images/removeIcon.png");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 40px 20px;
}

a.add:hover, a.remove:hover {
    background-position-x: -20px;
}

/* --------------- DIALOG ------------*/
#loadingDialogBkg {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    z-index: 2000;
}

#loadingDialog {
    width: 90px;
    height: 90px;
    background-color: #fff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -45px;
    border-radius: 8px;
}

.errorIconDialog, .alertIconDialog, .infoIconDialog {
    width: 32px;
    height: 32px;
}

.errorMsgDialog, .alertMsgDialog, .infoMsgDialog {
    text-align: left;
    display: table;
}

    .errorMsgDialog span, .alertMsgDialog span, .infoMsgDialog span {
        display: table-cell;
        vertical-align: middle;
        width: 295px;
        left: 10px;
        position: relative;
    }


/*-------------------------- LAYOUT ----------------------------*/
#header {
    height: 181px;
    padding: 0;
    margin: 0;
    background-color: #232F3E;
    text-align: center;
    min-width: 1000px;
    font-family: arial,sans-serif;
    font-size: 12px;
}

    #header #logo {
        width: 349px;
        height: auto;
        margin: 8px auto;
        position: relative;
        display: inline-block;
    }

#footer {
    background-color: #232F3E;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    min-width: 1000px;
    text-align: center;
}

    #footer .footer_page {
        width: auto;
        display: inline-block;
        margin: 40px;
        text-align: left;
    }

        #footer .footer_page #tt_logo {
            width: 70px;
        }

        #footer .footer_page #copy_footer {
            display: inline-block;
            vertical-align: middle;
            color: white;
        }

.page {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    height: auto;
    padding-bottom: 150px;
}

    .page h2 {
        padding: 0;
        margin: 30px 0px 20px 0px;
        display: inline-block;
    }

.content_page {
    padding: 10px 50px 0px;
    width: 1000px;
    overflow: hidden;
}

    .content_page.margin_bottom {
        padding-bottom: 50px !important;
    }

    /* -------------------- error page ------------------*/

#errorPage {
    width: 560px;
    margin: 90px auto;
    overflow: auto;
}

    #errorPage img {
        width: 170px;
        float: left;
    }

    #errorPage h2 {
        width: 350px;
        text-decoration: none;
        float: left;
        margin-left: 20px;
        margin-top: 25px;
        font-size: 35px;
    }

    #errorPage label {
        float: left;
        width: 350px;
        margin-left: 20px;
        margin-top: 10px;
        font-size: 14px;
        color: #757575;
        position: relative;
    }

    #errorPage ul {
        float: left;
        margin: 2px 0px 0px 20px;
        font-size: 14px;
        color: #757575;
        position: relative;
    }

/*--------------------------- MENU -------------------------*/
#menuBar {
    display: inline-block;
    height: 40px;
    margin-top: 20px;
    position: relative;
    width: 100%;
    background-color: #131a22;
}

#menu {
    display: inline-block;
    height: 40px;
    list-style: outside none none;
    margin: 0px;
    margin-left: 0px;
    padding: 0px;
}

    #menu li a, #menu li.usrn {
        color: rgb(255, 255, 255);
        display: block;
        font-size: 12px;
        font-weight: normal;
        height: 100%;
        line-height: 40px;
        text-align: center;
        width: 100%;
    }

        #menu li a:hover, #menu li a.hover {
            cursor: pointer;
            text-decoration: none;
            background-color: #1d2632;
        }

    #menu li {
        float: left;
        height: 40px;
        width: 120px;
    }

        #menu li .pnl {
            background-color: #131a22;
            display: inline-flex;
            height: auto;
            position: relative;
            width: 120px;
            z-index: 10;
        }

        #menu li .arrow {
            background-image: url(../images/arrow_bottom.png);
            background-repeat: no-repeat;
            display: inline-block;
            height: 6px;
            margin-left: 5px;
            width: 8px;
            background-size: 8px auto;
        }

        #menu li .pnl #sub_menu {
            display: inline-block;
            list-style: outside none none;
            margin: 0px;
            padding: 0px;
            text-align: left;
            width: 100%;
        }

/*----------------------- CONTROLLER ------------------------*/

#txtSearch {
    background-color: #FFF;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    height: 28px;
}

input[type="text"], input[type="password"], select, .select, input[type="number"], textarea, input[type="date"] {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    color: #656565;
    font-size: 13px;
    height: 31px;
    margin: 0px;
    padding: 0px 5px;
}

    select option:disabled {
        color: rgb(200, 200, 200);
    }

textarea {
    font-size: 13px;
    padding: 0px 5px;
    resize: vertical;
}

input[type="button"]:disabled, input[type="submit"]:disabled, .btn:disabled, input[type="button"]:disabled:hover, input[type="submit"]:disabled:hover, .btn:disabled:hover {
    background: linear-gradient(to bottom, #b7b7b7, #b7b7b7);
    background: -moz-linear-gradient(top, #b7b7b7, #b7b7b7);
    background: -webkit-linear-gradient(top, #b7b7b7, #b7b7b7);
    background-color: #7c7c7c;
    border-color: #adadad;
    color: #fff;
    cursor: default;
}

input[type="button"]:hover, input[type="submit"]:hover, .btn:hover {
    background: linear-gradient(to bottom, #4a85d8, #437bca);
    background: -moz-linear-gradient(top, #4a85d8, #437bca);
    background: -webkit-linear-gradient(top, #4a85d8, #437bca);
    background-color: #437bca;
    border-color: #437bca;
    color: #fff;
    height: 32px;
    margin-bottom: 5px;
}

input[type="button"], input[type="submit"], .btn {
    -webkit-border-radius: 3px;
    -webkit-box-shadow: none;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(to bottom, #5596ee, #4a85d8);
    background: -moz-linear-gradient(top, #5596ee, #4a85d8);
    background: -webkit-linear-gradient(top, #5596ee, #4a85d8);
    background-color: #4a85d8;
    border-color: #4A85D8;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 32px;
    margin-bottom: 5px;
    min-width: 100px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.20);
    text-shadow: none;
    vertical-align: middle;
}

/*-------------------------- ERROR SETTINGS --------------------------*/
input[type="text"].error, select.error, input[type="password"].error, textarea.error, input[type="number"].error, input[type="radio"].error {
    border: 1px solid rgb(219, 21, 21) !important;
}

input[type="radio"].error {
    outline: 1px solid red;
}

input[type="file"] {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
}

input[type="file"].error {
    border: 1px solid rgb(219, 21, 21) !important;
}

label.error {
    color: red;
    font-size: 12px !important;
    text-align: left;
    position: absolute;
    width: 220px;
    margin-left: 420px;
    margin-top: -27px !important;
    display: block;
}


/* ---------------------- MACHINE PAGE -----------------------*/
.machine, .machine:link, .machine:visited, .machine:hover, .machine:active {
    display: inline-block;
    width: 270px;
    margin: 12px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
    text-decoration: none;
    color: #333;
    height: auto;
    position: relative;
}

    .machine:hover, .machine:hover {
        border: 1px solid rgba(0,0,0,0.05);
        background-color: rgba(0,0,0,0.07);
        cursor: pointer;
    }

        .machine:hover label, .machine:hover label {
            cursor: pointer;
        }

    .machine .machine_icon {
        background-image: url("../images/machine_Icon.png");
        background-size: 200px 100px;
        background-position: 0px 0px;
        width: 100px;
        height: 100px;
        display: inline-block;
    }

        .machine .machine_icon.online, .machine .machine_icon.Online {
            -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
            filter: grayscale(0%);
        }

        .machine .machine_icon.offline, .machine .machine_icon.Offline {
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }

    .machine:hover .machine_icon {
        background-position: -100px 0px;
    }

    .machine .machine_details {
        display: inline-block;
        height: 105px;
        vertical-align: top;
        padding: 10px 0px 10px 10px;
        width: 160px;
    }

        .machine .machine_details label {
            margin: 0;
            display: inline-block;
            font-size: 11px;
            height: 15px;
            line-height: 15px;
        }

        .machine .machine_details .machine_det_title {
            width: 55px;
            color: #a1a1a1;
            float: left;
        }

        .machine .machine_details .machine_title {
            font-size: 19px;
            height: 23px;
            line-height: 21px;
        }

        .machine .machine_details .machine_data {
            color: #a1a1a1;
            width: 80px;
            float: left;
        }

    .machine .recordIcon {
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url("../images/recIcon.png");
        background-size: 24px;
        background-position: 0px;
        background-repeat: no-repeat;
        position: absolute;
        left: 85px;
        bottom: 6px;
    }


    /* --------------- MACHINE DETAILS PAGE ---------------*/
    .imgMachineDetails {
        width: 800px;
        display: block;
        margin: 0 auto;
    }

/* Hide/rearrange for smaller screens */
/*@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}*/

/* ------------------- FORM ----------------------*/
form label.title {
    vertical-align: top;
    display: inline-block;
    width: 150px;
    font-weight:bold;
    margin-bottom:0px;
}

form label {
    margin-top: 8px !important;
    vertical-align: top;
}

form input[type="file"] {
    display: inline-block;
}

form input, form select {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

form a:hover{
    text-decoration:none;
}

/*--------------------------------------------------------------------*/
.colorShow {
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: block;
    height: 28px;
    width: 28px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.led {
    width: 22px;
    height: 22px;
    background-image: url("../images/leds.png");
    background-position: 0px;
    background-size: auto 22px;
    background-repeat: no-repeat;
    display: inline-block;
}

    .led.Recording {
        background-image: url("../images/recIcon.png");
        background-size: 22px 22px;
    }
    .led.red, .led.Stopped {
        background-position: -22px;
    }
    .led.orange, .led.Waiting {
        background-position: -44px;
    }
    .led.blue {
        background-position: -66px;
    }
    .led.black, .led.Finished {
        background-position: -88px;
    }