@model IndexLayoutModel
@{
    ViewData["Title"] = "Lavorazioni";
}
<h2>Lavorazioni</h2>
<div class="content_page margin_bottom">
    <div>

    </div>
    <table class="table">
        <tr>
            <td style="font-weight:bold;">Barcode</td>
            <td style="font-weight:bold;">Stato</td>
            <td style="font-weight:bold;">Data Programmazione</td>
            <td style="font-weight:bold;">Macchina</td>
            <td style="font-weight:bold;">Opzioni Lavorazione</td>
            <td style="font-weight:bold;">Azioni</td>
        </tr>
        @foreach (var l in Model.Layouts)
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        <tr asp-if="@Model.Layouts.Count == 0">
            <td colspan="6">Nessuna Lavorazione presente.</td>
        </tr>
    </table>
</div>