@model ErrorViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Error " + Model.Code;
}

<div class="contentPage" style="width:auto !important;">
    <div id="errorPage">
        <img src="~/images/webError.png" />
        <h2 class="text-danger">Errore @Model.Code</h2>
        <label style="font-size:17px; font-weight:bold; color:rgb(80,80,80); margin-top:0px;">Questa pagina è inaccessibile oppure non esiste.</label>
        <br />
        <label style="margin-top:20px;">Si prega di:</label>
        <ul>
            <li>Ritentare più tardi</li>
            <li>Controllare che l'indirizzo sia corretto</li>
            <li>Controllare che si sia correttamente loggati </li>
        </ul>
        <br />
        <label>Se l'errore persiste di prega di contattare l'assistenza</label>
    </div>
</div>